Source: ocaml-gen
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Andy Li <andy@onthewings.net>
Standards-Version: 4.6.0
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 ocaml,
 ocaml-findlib,
 ocaml-dune,
 libdune-ocaml-dev,
 ocaml-qtest,
 libqtest-ocaml-dev,
 libqcheck-ocaml-dev,
 dh-ocaml
Homepage: https://github.com/c-cube/gen
Vcs-Browser: https://salsa.debian.org/ocaml-team/ocaml-gen
Vcs-Git: https://salsa.debian.org/ocaml-team/ocaml-gen.git

Package: libgen-ocaml
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Description: simple, efficient iterators for OCaml (Runtime library)
 Iterators for OCaml, both restartable and consumable.
 The implementation keeps a good balance between simplicity
 and performance.

Package: libgen-ocaml-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Description: simple, efficient iterators for OCaml (Development package)
 Iterators for OCaml, both restartable and consumable.
 The implementation keeps a good balance between simplicity
 and performance.
